@forward "globals";

body {
  display: grid;
  grid-template-rows: 8% 1fr;
  grid-template-columns: 18% 82%;
  grid-template-areas:
    "logo header"
    "sidebar main";
  height: 100vh;
  color: #222;
  justify-items: stretch;
  align-items: stretch;
  font-size: 16px;
}

main {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(12, 8.33%);
  height: 100%;
  grid-row: 2;
  grid-column: 2;
  background-color: rgb(236, 230, 230);
}

.logo {
  display: flex;
  padding: 1.5rem;
  grid-area: logo;
  background-color: black;
  justify-content: center;
  height: 100%;
}

.top-bar {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // background-color: aqua;
}

.fa-solid {
  margin-right: 1rem;
}

.fa-caret-down {
  margin-right: 2rem;
}

#sidebar {
  hr {
    margin: 1rem;
  }

  article {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  }
}

.progress {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  gap: 3rem;
  grid-template-areas:
    "heading heading"
    "profit feedback"
    "orders users"
    "table table";
  grid-row: 1;
  grid-column: 1 /-1;
  margin: 2rem;
}

h2.progress-header {
  grid-area: heading;
}

progress {
  width: 100%;
  // height: 1rem;
}

.profit,
.feedback,
.orders,
.users {
  background-color: white;
  border-radius: 10px;
  padding: 2rem;
}

// .profit {
//   grid-area: profit;
//   display: flex;
//   flex-direction: column;
// }

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-text {
  display: flex;
  color: black;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.table {
  grid-column: span 2;
}

#table {
  width: 100%;
  padding: 2rem;
  background-color: white;
}

td,
tr {
  text-align: center;
  border-top: 1px solid grey;
  padding: 1rem;
  // border-collapse: collapse;
}

.your-cards {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto auto;

  h2 {
    margin-left: 2rem;
  }
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  border: 2px solid black;
  padding: 1rem;
}

.your-teams {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto auto;
  margin: 2rem 2rem 4rem;

  h2 {
    margin-left: 2rem;
  }
}

.teams {
  display: flex;
  justify-content: space-evenly;
}

.team {
  border: 2px solid black;
  padding: 1rem;
}
